doctype html
html(lang="en")
    head
        title= "Battle ships"
        script(src="assets/javascripts/lib/phaser.min.js")
        script(src="assets/javascripts/application.js")
    body
        div(id="game-container")